@charset "UTF-8";
.outer{
    width: 1200px;
    height: 1400px;
    position: relative;
    margin: auto;
}
.outer>div{
    float:left;
    height: 100%;
}
#filter_area{width: 100px;}
#product_area{
    width: 1000px;
    position: absolute;
    top: 0;
    left: 130px;
}
.product_outer{
    width: 100%;
    height: 100%;
}
.product_outer>h1{
    margin-left: 60px;
    font-size: 35px;
}
#product{
    width: 250px;
    height: 300px;
    margin-left: 60px;
    margin-bottom: 10px;
    display: inline-block;
}
#product_img:hover{cursor: pointer;}
#product_img{
    width: 100%;
    height: 200px;
}
#product_detail{
    width: 100%;
    height: 100px;
    padding-left: 5px;
}
#product_detail>p{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 19px;
}
#product_detail>b{font-size: 30px;}
.pagingArea{margin-top: 10px;}
.pagingArea>button{
    background-color: lightgray;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 3px;
}