@charset "UTF-8";
#content{
    width: 100px;
    height: 370px;
}
#content_filter{
    width: 70%;
    margin: auto;
    margin-top: 300px;
}
#content_filter_top{
    margin: auto;
    width: 65%;
    height: 40px;
}
#content_filter:hover{
    cursor: pointer;
}
#content_filter_bottom{
    width: 100%;
    height: 20px;
}
#content_filter_bottom>b{
    margin-top: 5px;
    font-size: 15px;
}