@charset "UTF-8";
div{
    box-sizing: border-box;
}
.main_outer{
    width: 1000px;
    height: 1900px;
}
.main_outer>h4{margin-top: 20px;}
#event_box{
    width: 100%;
    height: 300px;
    margin-top: 50px;
}

#product_box{
    width: 100%;
    height: 300px;
}

#event_box>div{width: 100%;}
#event_box_img, #product_img{height: 85%;}
#event_box_btn, #product_btn{
    height: 15%;
    padding-top: 8px;
}
#event_box_img>div{
    float: left;
    height: 100%;
    margin-right: 20px;
}
#left, #right{
    width: 5%;
    padding-top: 100px;
    font-weight: 700;
    font-size: 25px;
}
#left:hover, #right:hover{cursor: pointer;}
#left{
	margin-left: 30px;
	margin-right: 19px;
}
#event{width: 80%;}
#event>div{
    float: left;
    height: 100%;
    margin-right: 20px;
}
#event1{
    width: 30%;
    diplay: inline-block;
}
#event1>div{
    width: 100%;
}
#event1_img{height: 80%;}
#event1_detail{
    height: 20%; 
    background-color:gray;
}
#event p{
    color: white;
    margin-top: 8px;
    font-size: 20px;
}

#event_box_btn>button, #product_btn>button{
    border: none;
    border-radius: 100%;
    background-color: lightgray;
    width: 10px;
    height: 10px;
}
#product_box>div{width: 100%;}
#product_img>div{
    float: left;
    height: 100%;
    margin-right: 20px;
}
#product1{
    width: 30%;
    margin-left: 30px;
}
#product2{width: 30%;}
#product3{width: 30%;}
#product_img>div>div{width: 100%;}
#product_thumb{
    height: 80%;
}
#product_name{
    height: 20%;
    padding: 10px;
    font-size: 15px;
    font-weight: 900;
}