<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="searchProduct">
		SELECT *
		  FROM (
		        SELECT 
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       PR_NO
		                     , PR_MODEL
		                     , PR_NAME
		                     , PR_RELEASE_PRICE
		                     , PR_IMG_URL || PR_CHANGE_NAME "TITLEIMG"
		                  FROM P_REG
		                  JOIN P_IMG USING(PR_NO)
		                 WHERE PR_NAME LIKE ?
		                   AND PR_STATUS = 'Y'
		                   AND PR_FILE_LEVEL = '1'
		                ORDER BY PR_NO DESC
		               ) A
		          	   )
  		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectSearchListCount">
		SELECT COUNT(*)
		  FROM P_REG
		  JOIN P_IMG USING(PR_NO)
		 WHERE PR_STATUS = 'Y'
		   AND PR_NAME LIKE ?
		   AND PR_FILE_LEVEL = '1'
	</entry>
	
	<entry key="searchFilterCount">
	
	</entry>
	
	<entry key="filterSearchProduct">
	
	</entry>
	
	<entry key="filterSearchProductPriceAsc">
	
	</entry>
	
	<entry key="filterSearchProductPriceDesc">
	
	</entry>
</properties>