<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT 
		        COUNT(*) LISTCOUNT
		   FROM FAQ
		  WHERE FAQ_STATUS = 'Y'
	</entry>
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT 
		                ROWNUM RNUM
		              , A.*
		        FROM (
		             SELECT 
					       FAQ_NO
					     , FAQ_CATEGORY
					     , FAQ_TITLE
					     , FAQ_CONTENT
					     , FAQ_STATUS
					 FROM FAQ
					WHERE FAQ_STATUS = 'Y'
					ORDER BY FAQ_NO DESC
		            ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM (SELECT *
		          FROM FAQ
		         WHERE FAQ_CATEGORY = ?
		           AND FAQ_STATUS = 'Y')
	</entry>
	<entry key="searchList">
		SELECT *
		  FROM (
		        SELECT 
		                ROWNUM RNUM
		              , A.*
		        FROM (
		        SELECT 
				       FAQ_NO
				     , FAQ_CATEGORY
				     , FAQ_TITLE
				     , FAQ_CONTENT
				     , FAQ_STATUS
				 FROM FAQ
				WHERE FAQ_CATEGORY = ?
				  AND FAQ_STATUS = 'Y'
				ORDER BY FAQ_NO DESC
		            ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="deleteFAQ">
		UPDATE FAQ
		   SET FAQ_STATUS = 'N'
		 WHERE FAQ_NO = ?
	</entry>
	<entry key="updateFAQ">
		UPDATE FAQ
		   SET 
		       FAQ_TITLE = ?
		     , FAQ_CONTENT = ?
		 WHERE FAQ_NO = ?
	</entry>
	<entry key="detailFAQ">
		SELECT *
		  FROM FAQ
		 WHERE FAQ_NO = ?
	</entry>
	<entry key="insertFAQ">
		INSERT
		  INTO FAQ
		VALUES
		     (
		        SEQ_FAQ.NEXTVAL
		      , ?
		      , ?
		      , ?
		      , DEFAULT
		     )
	</entry>
</properties>