<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		 SELECT 
		        COUNT(*) LISTCOUNT
		   FROM INQUIRY
		  WHERE INQUIRY_WRITER = ?
	</entry>
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT 
		                ROWNUM RNUM
		              , A.*
		        FROM (
		            SELECT 
					       INQUIRY_NO
					     , INQUIRY_WRITER
					     , INQUIRY_CATEGORY_BIG
					     , INQUIRY_CATEGORY_SMALL
					     , INQUIRY_TITLE
					     , INQUIRY_CONTENT
					     , INQUIRY_ENROLL_DATE
					     , INQUIRY_STATUS
					     , INQUIRY_ANSWER
					     , INQUIRY_ANSWER_DATE
					 FROM INQUIRY
					WHERE INQUIRY_WRITER = ?
					ORDER BY INQUIRY_ENROLL_DATE DESC
		            ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectDetail">
		SELECT *
		  FROM (
		        SELECT 
		                ROWNUM RNUM
		              , A.*
		        FROM (
		            SELECT 
					       INQUIRY_NO
					     , INQUIRY_WRITER
					     , INQUIRY_CATEGORY_BIG
					     , INQUIRY_CATEGORY_SMALL
					     , INQUIRY_TITLE
					     , INQUIRY_CONTENT
					     , INQUIRY_ENROLL_DATE
					     , INQUIRY_STATUS
					     , INQUIRY_ANSWER
					     , INQUIRY_ANSWER_DATE
					 FROM INQUIRY
					WHERE INQUIRY_WRITER = ?
					ORDER BY INQUIRY_ENROLL_DATE DESC
		            ) A
		        )
            WHERE RNUM = ?
	</entry>
</properties>