<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		 SELECT 
		        COUNT(*) LISTCOUNT
		   FROM REPORT
		  WHERE REPORT_WRITER = ?
	</entry>
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT 
		                ROWNUM RNUM
		              , A.*
		        FROM (
		            SELECT 
					       REPORT_NO
					     , SALE_NO
					     , REPORT_WRITER
					     , REPORT_CATEGORY
					     , REPORT_TITLE
					     , REPORT_CONTENT
					     , REPORT_PASTDEAL
					     , REPORT_ENROLL_DATE
					     , REPORT_STATUS
					  FROM REPORT
					 WHERE REPORT_WRITER = ?
					ORDER BY REPORT_ENROLL_DATE DESC
		            ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectDetail">
		SELECT *
		  FROM (
		        SELECT 
		                ROWNUM RNUM
		              , A.*
		        FROM (
		            SELECT 
					       REPORT_NO
					     , SALE_NO
					     , REPORT_WRITER
					     , REPORT_CATEGORY
					     , REPORT_TITLE
					     , REPORT_CONTENT
					     , REPORT_PASTDEAL
					     , REPORT_ENROLL_DATE
					     , REPORT_STATUS
					  FROM REPORT
					 WHERE REPORT_WRITER = ?
					   AND REPORT_NO = ?
					ORDER BY REPORT_ENROLL_DATE DESC
		            ) A
		        )
            
	</entry>
	<entry key="updateReport">
		UPDATE REPORT
		   SET 
		       REPORT_TITLE = ?
		     , REPORT_CATEGORY = ?
		     , REPORT_PASTDEAL = ?
		     , REPORT_CONTENT = ?
		 WHERE REPORT_NO = ?
	</entry>
	<entry key="insertReport">
		INSERT
		  INTO REPORT
		VALUES
		     (
		        SEQ_REPORT.NEXTVAL
		      , ?
		      , ?
		      , ?
		      , ?
		      , ?
		      , ?
		      , SYSDATE
		      , DEFAULT
		     )
	</entry>
	<entry key="selectReportAllCount">
		 SELECT 
		        COUNT(*) LISTCOUNT
		   FROM REPORT
	</entry>
	<entry key="selectReportAll">
		SELECT *
		  FROM (
		        SELECT 
		                ROWNUM RNUM
		              , A.*
		        FROM (
		            SELECT 
					       REPORT_NO
					     , SALE_NO
					     , M.MEM_USER_ID
					     , REPORT_CATEGORY
					     , REPORT_TITLE
					     , REPORT_CONTENT
					     , REPORT_PASTDEAL
					     , REPORT_ENROLL_DATE
					     , REPORT_STATUS
					 FROM REPORT R
					 JOIN MEMBER M ON (R.REPORT_WRITER = M.MEM_USER_NO)
					ORDER BY REPORT_NO DESC
		            ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectReportAllCount">
		 SELECT 
		        COUNT(*) LISTCOUNT
		   FROM REPORT
	</entry>
	<entry key="selectDetailUpdate">
		SELECT *
		  FROM REPORT
		 WHERE REPORT_NO = ?
	</entry>
	<entry key="updateReportAnswer">
		UPDATE REPORT
		   SET REPORT_STATUS = 'Y'
		 WHERE REPORT_NO = ?
	</entry>
</properties>