<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		 SELECT 
		        COUNT(*) LISTCOUNT
		   FROM REPORT
		  WHERE REPORT_WRITER = ?
	</entry>
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT 
		                ROWNUM RNUM
		              , A.*
		        FROM (
		            SELECT 
					       REPORT_NO
					     , SALE_NO
					     , REPORT_WRITER
					     , REPORT_CATEGORY
					     , REPORT_TITLE
					     , REPORT_CONTENT
					     , REPORT_ENROLL_DATE
					     , REPORT_STATUS
					  FROM REPORT
					 WHERE REPORT_WRITER = ?
					ORDER BY REPORT_ENROLL_DATE DESC
		            ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectDetail">
		SELECT *
		  FROM (
		        SELECT 
		                ROWNUM RNUM
		              , A.*
		        FROM (
		            SELECT 
					       REPORT_NO
					     , SALE_NO
					     , REPORT_WRITER
					     , REPORT_CATEGORY
					     , REPORT_TITLE
					     , REPORT_CONTENT
					     , REPORT_ENROLL_DATE
					     , REPORT_STATUS
					  FROM REPORT
					 WHERE REPORT_WRITER = ?
					ORDER BY REPORT_ENROLL_DATE DESC
		            ) A
		        )
            WHERE RNUM = ?
	</entry>
</properties>