@charset "UTF-8";
#menu3List>:nth-child(3){
	        text-decoration-line: underline;
	        font-weight: bold;
	    }
	    #menu4>*:nth-child(2), #menu4>*:nth-child(3){
	    	display:none;
	    }
	    #menu2>*:nth-child(2), #menu2>*:nth-child(3){
	    	display:none;
	    }
	    #menu1>*:nth-child(2), #menu1>*:nth-child(3){
	    	display:none;
	    }
        #title{
            background: lightgray;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
            padding: 5px;
        }
        #inquiry{
            border-collapse: collapse;
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }
        #inquiry th{
            background: lightgray;
            height: 25px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size:21px;
        }
        #inquiry td{
            border: 1px solid lightgray;
            font-size:18px;
            
        }
        #inquiry tr>th:nth-child(1){
            border-right: 1px solid white;
            
        }
        #inquiry tr>th:nth-child(2){
            border-right: 1px solid white;
        }
        #inquiry tr>th:nth-child(3){
            border-right: 1px solid white;
        }
        #inquiry tr>th:nth-child(4){
            border-right: 1px solid white;
        }
        #inquiry tr>th:nth-child(5){
            border-right: 1px solid white;
        }
        #inquiry tr td:nth-child(1){
            border-left: 0px;
            width: 5%;
            font-size:21px;
        }
        #inquiry tr td:nth-child(2){
            width: 8%;
        }
        #inquiry tr td:nth-child(3){
            border-right: 0px;
            padding: 7px;
            padding-left: 10px;
            width: 30%;
        }
        #inquiry tr td:nth-child(4){
            width: 26%;
        }
        #inquiry tr td:nth-child(5){
            width: 18%;
        }
        #inquiry tr td:nth-child(6){
            width: 13%;
            border-right: 0px;
        }
        #inquiry a{
        	color:black;
        	text-decoration:none;
        }
        #inquiry a:hover{
        	text-decoration:underline;
        }