<style>
        div{
            box-sizing: border-box;
        }
        .content{
            width: 1200px;
            height: 1000px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
        }

        .bid_list span{
            color: red;
            font-size: 15px;
        }

        /*입찰날짜*/

        .bid_date {
            border: 5px solid rgb(194, 193, 193);
            padding: 10px;
        }

        .bid_date ul{
            list-style: none;
            width: 100%;
            margin-bottom: 0;
        }

        .bid_date ul li{
            float: left;
            margin-left: 10px;
            margin-right: 10px;
        }

        .bid_date #btn{
            margin-left: 250px;
            font-size: 12px;
            padding: 4px;
            background-color: #333;
            border: 1px solid #333;
            border-radius: 5px;
            color: white;
        }


        /*입찰진행 바디*/
        .bid_body{
            width: 920px;
            margin-left: 280px;
            box-sizing: border-box;
        }

        .bid_title {
            font-size: 20px;
            font-weight: 600;
            color: #333333;
            margin-top: 0px;
            margin-bottom: 30px;
        }

        /*상품 정보 테이블*/
        .bid_list table{
            width: 100%;
            text-align: center;
            border-bottom: 1px solid #333;
        }

        .bid_list table thead th{
            color: #333;
            height: 40px;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
        }

        .bid_list table tbody td{
            height: 150px;
        }

        .bid_list table tbody td dl{
            text-align: left;
            font-size: 13px;
            margin: 0px;
        }

        .product_info dd{
            margin: 0px;
        }

        .product_info span{
            color: black;
            font-size: 18px;
            font-weight: bold;
        }


        /*구매입찰정보*/

        .purchase_info{
            margin-top: 50px;
        }

        .purchase_info p {
            font-size: 20px;
            font-weight: bold;
        }
        .purchase_info table{
            width: 100%;
            text-align: center;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
        }

        .purchase_info thead th{
            padding: 5px;
            padding-bottom: 10px;
        }

        .purchase_info tbody td{
            padding: 5px;
        }

    </style>