<style>
	::placeholder {
		font-size: 12px;
	}
	
	div{
	    box-sizing: border-box;
	}
	.outer{
	    width: 1200px;
	    height: 1000px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 80px;
	}
	.mypage_body{
	    width: 920px;
	    margin-left: 280px;
	    box-sizing: border-box;
	}
	.meminfo_title{
	    font-size: 20px;
	    font-weight: 600;
	    color: #333333;
	    margin-top: 0px;
	    margin-bottom: 30px;
	}
	/* 정보 영역 사이즈 및 위치*/
	.div2 {
		margin: 10px;
	}
	.div_info{
		margin: 10px;
		font-size: 13px;
		font-weight: 600;
	}
	.div_detailArea {
		margin-top: 20px;
	}
	
	/* 프로필 영역 css */
	#div1 {
		border: 2px solid rgb(220, 220, 220);
		padding: 20px;
		border-radius: 3px;
		width: 700px;
		height: 200px;
		position: relative;
	}
	#information {
		position: absolute;
		float: left;
		left: 20px;
	}
	#iconStyle {
		position: absolute;
		float: left;
		left: 20px;
		top: 70px;
	}
	#informationTable {
		float: left;
		position: absolute;
		left: 170px;
		top: 95px;
	}
	
	/* 테이블 스타일 */
	#table_info {
		text-align: center;
	}
	
	.cardInfo-edit-td, .addressInfo-edit-td {
		font-size: 13px;
		font-weight: lighter;
	}
	#cardInfo-edit-tb td, #addressInfo-edit-tb td {
		padding: 10px;
	}
	
	/* 버튼 */
	.btn_submit, .btn_delete {
		margin-left: 10px;
		margin-top: -5px;
	}
</style>